force-app/main/default/flows/Update_Part_As_Active_Sairam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Part As Active Sairam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Part As Active Sairam</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Part_Records</name>
        <label>Get Part Records</label>
        <locationX>671</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Part</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>compliancequest__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>compliancequest__SQX_Part__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Part_As_Active</name>
        <label>Update Part As Active</label>
        <locationX>651</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>compliancequest__Active__c</field>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>compliancequest__Reason_For_Change__c</field>
            <value>
                <elementReference>Reason_For_Change</elementReference>
            </value>
        </inputAssignments>
        <object>compliancequest__SQX_Part__c</object>
    </recordUpdates>
    <screens>
        <name>Activate_Part</name>
        <label>Activate Part</label>
        <locationX>737</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Part_As_Active</targetReference>
        </connector>
        <fields>
            <name>Active</name>
            <dataType>Boolean</dataType>
            <fieldText>Active</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_For_Change</name>
            <fieldText>Reason For Change</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Value should be in 255 characters only.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Reason_For_Change})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Activate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>611</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Part_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
